*,
*::before,
*::after
    box-sizing: border-box
    outline: none
.container
    max-width: 1200px
    margin: auto
    padding: 0 15px
img
    max-width: 100%
button
    &:hover
        cursor: pointer
.input
    width: 100%