@media (max-width: 1199px)
    .install
        &-box
            &__head 
                padding: 20px 60px 20px 20px
                span
                    font-size: 20px
    .door
        &-list
            height: 268px
            &__item
                max-width: 370px
                margin-left: 20px
                span
                    font-size: 20px
    .payment
        &-item
            margin: 0 auto 25px
        &-block 
            .metering
                &-wrap
                    margin: 50px auto 0 !important
                &-block
                    &__title
                        max-width: 290px
                        margin: 30px auto !important
                &-form
                    &__valid
                        max-width: none
    .delivery
        &-right 
            p
                line-height: 28px
                margin: 0 0 15px
    .cooperation
        padding: 40px 0
        &-left
            max-width: 600px
    .in-number
        &-block
            &s
                max-width: 680px
                margin: auto
    .about
        &-block
            &__text
                font-size: 20px
                line-height: normal
                max-width: 140px
    .menu
        &-list
            &__link
                padding: 14px 10px
            &__text
                width: 100px
                font-size: 14px
            &__item
                &:first-child
                    .menu
                        &-list
                            &__link
                                padding: 15px 10px
                &:nth-child(4)
                    .menu
                        &-list
                            &__link
                                padding: 20px 10px
                    &:hover 
                        .menu
                            &-box
                                top: 80px
                &:nth-child(5)
                    .menu
                        &-list
                            &__link
                                padding: 16px 10px
    .footer
        &__name                                 
            font-size: 22px
        &-title
            font-size: 18px
    .stock
        &-item
            margin: 0 auto 40px    
    .thancks
        &-block
            &__title
                margin: 5px 0 20px
            &__text
                margin: 0 0 380px 7px  
    .main
        &-box
            &::before
                left: -14px
            &__text
                font-size: 20px
                max-width: 210px
        &-right
            &::after
                top: 240px
                right: 0
                background-size: contain
            &__title
                font-size: 36px
                max-width: 450px
                line-height: normal  
    .salon
        &-text
            left: 205px
        &-block
            margin-bottom: 40px
            &__address
                font-size: 20px
            &__open
                font-size: 16px
            &__image
                margin: 0 auto 20px   
        &-box
            &__text
                font-size: 18px 
                max-width: 230px
                left: 64%
    .main-about-bottom
        padding-bottom: 100px
        .container
            top: -260px  
    .bottom
        &-block
            max-width: 200px
            &__text
                font-size: 20px 
    .from-us
        &-left 
            .from
                &-item
                    margin: 0 30px 40px auto                             
        &-right 
            .from
                &-item
                    margin: 0 auto 40px 30px
    .variety-doors
        &__title 
            margin: 0 0 50px 50px
    .questions
        &-form
            max-width: 320px
            &__block
                margin-bottom: 30px
                &:first-child
                    margin-right: 0
                &s
                    margin-bottom: 0
                    flex-direction: column  
        &__subtitle
            font-size: 20px 
        &__title
            margin: 0 0 10px                         
@media (max-width: 1190px)
    .menu
        &-list
            &__item
                &:hover 
                    .menu
                        &-box
                            min-width: 750px
                &:nth-child(4) 
                    .menu
                        &-inner
                            width: 100%
                    .inner
                        &-list
                            justify-content: flex-start
                            &__link
                                margin: 5px
        &-inner
            width: 200px
            margin-bottom: 15px
        &-box
            &__top 
                .menu
                    &-inner
                        width: 100%
@media (max-width: 1023px)
    .product
        &-slide
            &.slick-slider
                max-width: 860px
                margin: auto 
    .catalog
        &-slider
            &::before,                                   
            &::after
                display: none                                   
@media (max-width: 991px)
    .door
        &-list
            &__item
                max-width: 90%
    .install
        &-block
            margin-bottom: 30px
            &__title
                margin: 0 0 25px
    .delivery
        &__title
            margin: 0 0 30px
        &__image
            margin: 0 auto 30px
        &-right
            margin-bottom: 50px
    .payment
        &-item
            &__text
                height: auto
    .cooperation
        &-right
            display: none
        &-left
            margin: auto
    .about
        &-block
            margin: 0 auto 40px
    .entrance-work
        padding: 30px 0
        &::before
            display: none
    .entrance-doors
        &__title
            font-size: 28px
            margin: 0 0 20px
        p
            margin: 0 0 40px
    .card
        margin: 0 auto 20px
    .sort
        margin: 0 auto 30px    
    .filter
        display: none
    .entrance-door-left
        display: none
    .nav
        position: relative
        width: 100%
        &-burger
            cursor: pointer
            width: 40px
            height: 40px
            position: relative
            top: 2px
            left: 10px
            &__top,
            &__center,
            &__bottom
                width: 36px
                height: 3px
                background-color: $black
                border-radius: 10px
                position: absolute
                left: 2px
                z-index: 10
                transition: .3s
            &__top
                top: 8px
            &__center
                top: 16px
            &__bottom
                top: 24px
        &-list
            display: none
            flex-direction: column
            &__item
                margin: 0
            &__link
                padding: 10px
                border-radius: $radius
                &:hover
                    background-color: $darkGreen
                    color: $white
    .burger-open
        .nav
            &-burger
                &__top
                    transform: rotate(45deg)
                    top: 14px 
                &__center
                    opacity: 0
                &__bottom
                    transform: rotate(-45deg)
                    top: 14px
    .stores
        &-box
            min-width: auto
            max-width: 500px
    .offer-btn
        position: absolute
        top: 5px
        right: 15px
    .header
        &-top 
            .container
                position: relative
        &-bottom
            position: relative
    .logo
        text-align: center
    .our-slider,
    .applications
        margin-top: 10px
    .menu
        &-list
            &__item
                width: 33.33%
                &:hover 
                    .menu
                        &-box
                            min-width: 450px
                &:nth-child(4)
                    .menu
                        &-box
                            right: auto
                            left: 0
                            min-width: 390px
    .cart
        position: absolute
        top: 60px
        right: 25px
    .footer
        &__name,
        &-title,
        &__title,
        &-nav
            text-align: center
        &__subtitle
            max-width: 260px
            text-align: center
            margin: 0 auto 25px
        &-socials
            justify-content: center
        &__title
            margin: 0 auto 10px
        &-nav
            margin-bottom: 15px
        &-items,
        .polovinkin
            margin-top: 20px 
        .polovinkin
            text-align: center   
    .end
        .footer-nav
            margin-bottom: 0
            padding-bottom: 110px
    .our-contacts
        text-align: center 
    .metering
        &__title
            margin: 50px auto 0  
        &-wrap      
            margin: 50px auto 0 
    .thancks
        &-block
            &__image
                position: static
            &__title
                margin: 5px auto 15px
                font-size: 48px
                text-align: center
            &__text
                font-size: 26px
                text-align: center
                margin: 0 0 40px 0
            &s
                flex-direction: column
                align-items: center
    .main
        &-left
            display: none
        &-right
            &::after
                top: 190px
            &__title
                margin: 0 0 30px 0
    .main-about
        &__title
            margin: 0 0 70px
    .salon
        &-block
            margin-bottom: 55px
        &-box
            &es
                display: none
        &-text
            text-align: center
            left: 190px
    .main-about-bottom 
        padding-bottom: 550px
        .container
            top: 0
    .bottom-block
        margin: 0 auto 25px
    .from-us
        &-img
            &::after
                display: none
        &__title
            margin: 0 0 40px
        &-left 
            .from
                &-item
                    margin: 0 auto 40px
        &-right 
            .from
                &-item
                    margin: 0 auto 40px
    .manufacturer
        padding: 50px 0 10px
        &::before
            display: none
        &__title
            margin: 0 0 50px
    .variety-doors
        &__title
            text-align: center
            margin: 0 0 30px
    .questions
        &-img
            display: none
        &__title,
        &__subtitle
            text-align: center
        &-form
            margin: 0 auto 30px
    .callback
        max-width: 360px
        margin: auto
    .warranty
        &__image
            margin: 0 auto 30px
            display: block
        &-right 
            p,
            b
                font-size: 22px
                line-height: normal
                margin: 0 0 15px
        &-side 
            margin-bottom: 50px  
    .serv
        display: none
    .excellence
        margin: 0 auto 30px   
        &__title
            margin: 10px 0 0   
        &__image
            margin: 0 auto 15px   
        &-block
            margin-bottom: 30px 
        &-left 
            .excellence
                margin: 0 auto 30px
    .about
        &-left
            margin: 0 auto 20px
@media (max-width: 810px)
    .stores
        &-box
            padding: 15px
            left: 0
@media (max-width: 779px)
    .product
        &-arrows
            margin-top: 30px
        &-slide
            &.slick-slider
                max-width: 570px
@media (max-width: 767px)
    .install 
        p
            font-size: 20px
            line-height: normal
            margin: 0 0 15px
        &-price
            &__title
                margin: 40px 0 20px
    .map
        background-size: contain
        height: 300px
        max-width: 500px
    .catalog
        &-slider
            &-section
                padding: 70px 0 50px
            &__title
                margin: 0 0 30px
            &__buttons
                margin: 0 0 40px
    .header
        &-center
            padding: 15px 0
        &-bottom
            position: static
        &-top
            position: relative
            z-index: 10            
    .logo
        max-width: 220px
        margin: 0 auto 15px
    .stores
        &-contacts
            padding: 10px 0
            max-width: 400px
            margin: auto
        &-box
            left: 50%
            transform: translateX(-50%)
    .our-slider,
    .applications
        margin-top: 15px 
    .cart
        top: 70px
        right: 40px       
    .our
        &-contacts
            max-width: 280px
            margin: auto
    .menu
        &-list
            &__item
                &:hover
                    .menu
                        &-box
                            min-width: auto
                            height: 260px
                            overflow-y: scroll
                &:nth-child(4)
                    .inner
                        &-list
                            flex-direction: column
                            align-items: center
        &-box
            padding: 15px
    .footer
        &-title
            margin: 0 0 5px 0
        &-nav
            margin: 0 auto 25px
            max-width: 280px
        &-text
            margin: auto
            font-size: 16px
            line-height: normal
        &-block
            max-width: 420px
            margin: 0 auto 10px
    .end
        .footer
            &-nav
                padding-bottom: 25px   
    .breadcrumbs
        display: none  
    .salon
        &-text
            left: auto
    .main-about
        min-height: auto
        &::before
            display: none
    .main-about-bottom 
        padding-bottom: 50px
        .container
            position: relative
    .from-us
        padding: 40px 0
        &__title
            font-size: 32px
    .variety-doors
        &-bottom
            margin-top: 50px
    .entrance-work
        &__title
            font-size: 34px
            margin: 0 0 50px
        &__link
            margin: 30px auto 0
    .in-number
        padding: 0 0 50px
        &__title
            margin: 0 0 40px
        &-block
            margin-bottom: 30px
            &s
                max-width: 460px
@media (max-width: 690px)
    .salon-text
        display: none
    .main
        min-height: 440px
        &-section
            padding: 40px 0
        &-right
            &__title
                margin: 0 auto 25px
                text-align: center
                font-size: 26px
                max-width: 360px
            &::after
                display: none  
            &__link
                margin: 0 auto
                &s
                    &::before
                        top: -60px
                        left: 60px
            &__text
                margin: 0 auto 50px
                text-align: center  
    .manufacturer
        padding: 30px 0 10px
        &__title
            font-size: 32px 
    .about
        &__title 
            span
                display: block 
    .payment
        &-title
            font-size: 34px
            margin: 0 0 40px                                      
@media (max-width: 530px)
    .install
        &-block
            &__title
                font-size: 26px
                margin: 0 0 15px
        &-price
            margin-bottom: 20px                
    .map
        &-title
            margin: 50px 0 20px
    .delivery
        &__title
            margin: 0 0 15px
        &__image
            margin: 0 0 15px
        &-right
            p
                font-size: 18px
                line-height: normal
            ul
                li
                    margin-bottom: 5px
    .about
        &__directions
            margin: 30px 0
    .pagination
        max-width: 280px
        &__link
            margin: 10px 15px
    .catalog
        &-slider
            &__buttons
                flex-direction: column
                align-items: center
            &__button
                &:first-child
                    margin-right: 0
                    margin-bottom: 20px
            &__link
                margin: 40px auto 0
    .product
        &-slide
            &.slick-slider
                max-width: 290px                    
    .metering
        &__title
            font-size: 30px
            text-align: center
            line-height: normal
            span
                font-size: 38px
                display: block
                line-height: normal
        &-wrap
            margin: 20px auto 0
    .main
        &-right
            &__link
                &s
                    &::before
                        display: none
    .title
        font-size: 30px 
@media (max-width: 500px)
    .in-number
        padding: 0 0 25px
        &-block
            &s
                flex-direction: column
                align-items: center
    .thancks
        &-block
            &__title
                margin: 0 0 15px
                font-size: 30px
            &__text
                font-size: 22px
                max-width: 300px
                margin: 0 0 20px 0
    .light-title
        font-size: 20px
    .section-top
        padding: 30px 0
    .not-found
        &__link
            max-width: 280px
            height: 52px
    .stores
        &-box
            max-width: 280px
    .menu
        margin: initial
        width: 100%
        &-list
            flex-direction: column
            &__item
                width: auto 
                &:nth-child(4)
                    &:hover
                        .menu
                            &-box
                                top: 60px
            &__link
                padding: 10px !important
                width: 200px
        &-box
            top: 70px
    .stock
        &-block
            padding-bottom: 10px
            &__title 
                margin: 12px 0 15px 10px
                font-size: 26px
                height: 56px
            &__text
                margin: 0 0 30px 10px 
                font-size: 16px
                line-height: normal
                padding-right: 5px    
                height: 58px
@media (max-width: 425px)
    .install
        &-box
            &__head 
                padding: 20px
                span
                    font-size: 18px
    .map
        height: 200px
    .entrance-doors
        &__title
            font-size: 22px
        p
            font-size: 16px
    .sort
        flex-direction: column
        &-select
            margin-left: 0
            margin-top: 15px
    .pagination
        margin: 15px auto
    .questions
        padding: 0 0 40px
        &__subtitle
            font-size: 16px
    .questions
        &-form
            &__block
                width: auto
    .callback
        max-width: 300px
    .call
        &__phone
            font-size: 24px
    .metering
        min-height: 880px
    .catalog-slider
        &__link
            height: 52px
            max-width: 220px
            font-size: 12px 
    .main-about
        &__title
            margin: 15px 0 30px
    .salon
        &-block 
            margin-bottom: 40px 
    .from-us
        padding: 0 0 10px
        &__title
            font-size: 26px 
    .manufacturer
        &-item 
            max-width: 220px
            margin: 0 auto 30px
            &__image
                margin-bottom: 10px
        &__title
            font-size: 26px  
            margin: 0 0 30px
    .warranty
        &__image
            margin: 0 auto 50px
        &-right
            &__title
                text-align: center
            p,
            b
                font-size: 18px
    .entrance-work
        &__title
            font-size: 24px
        &__link
            font-size: 12px
            max-width: 260px
            height: 58px
@media (max-width: 400px)
    .cooperation
        padding: 15px 0 0
        &-left
            flex-direction: column
            align-items: center
            &__image
                margin-right: 0
                margin-bottom: 30px
    .metering
        min-height: 730px
        &-form
            &__input
                height: 52px
            &__input
                margin: 0 0 25px
                &-phone,
                &-name
                    top: 10px
            &__button
                max-width: 240px
                height: 50px
                margin-top: 30px
            &__politick
                margin: 0 auto 15px
            &__block
                label
                    margin: 0 0 5px 10px
        &-block
            &__title
                font-size: 20px
                margin: 20px 0 0
            &__text
                font-size: 20px
                margin: 0 auto 25px
                max-width: 260px
        &-form
            max-width: 280px
    .input
        &__phone,
        &__user
            top: 42px            
@media (max-width: 375px)
    .install
        &-block
            &__title
                font-size: 22px
        &-box
            &__head
                padding: 15px
                span
                    font-size: 16px
    .door
        &-list
            height: 180px
            margin-top: 20px
            &__item 
                margin-left: 15px
                margin-bottom: 10px
                span
                    font-size: 18px
    .call
        font-size: 16px
    .cart
        top: 55px
        right: 25px
    .metering
        &__title
            font-size: 24px
            span
                font-size: 30px 
    .main
        min-height: 380px
        &-right
            &__title
                font-size: 22px
    .in-number
        &__title
            span
                display: block
@media (max-width: 350px)
    .metering
        &-form
            max-width: 260px
            &__input
                max-width: 240px
                margin: 0 auto 20px
            &__button
                font-size: 12px
                max-width: 200px
                height: 44px
            &__block
                label
                    margin: 0 0 0 20px
            &__valid
                #user_name-error,
                #user_phone-error
                    left: 35px
                    bottom: -20px
        &-block
            &__title,
            &__text
                font-size: 18px

@media (max-height: 700px)
   .stores
       &-box
            height: 180px
            overflow-y: scroll
            overflow-x: hidden